<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Pupi Pet</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Pupi Pet</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ url_for('home.homepage') }}">Home</a></li>  
				  <li><a href="{{ url_for('home.customer') }}">Customers</a></li>
				  <li><a href="{{ url_for('home.pet') }}">Pets</a></li>  
				  <li><a href="{{ url_for('home.shoppingCart') }}">Shopping Carts</a></li>  
				  <li><a href="{{ url_for('home.order') }}">Order</a></li>  
                  
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
						<li class="footer-menu-divider">⋅</li>
						<li><a href="{{ url_for('home.customer') }}">Customers</a></li>
						<li class="footer-menu-divider">⋅</li>
						<li><a href="{{ url_for('home.pet') }}">Pets</a></li>  
						<li class="footer-menu-divider">⋅</li>
						<li><a href="{{ url_for('home.shoppingCart') }}">Shopping Carts</a></li>  
						<li class="footer-menu-divider">⋅</li>
						<li><a href="{{ url_for('home.order') }}">Order</a></li>  
                    </ul>
                    <p class="copyright text-muted small">Copyright © 2021. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
